@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-ernesto-dashboard;
}
:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
.centered-container {
  margin-top: 40px;
  max-width: 1000px;
  margin: 40px auto;
}
.tam {
  width: 80px;
  height: 80px;
}
.item {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: white;
  background-size: cover;
  margin: auto;
  margin-left: 40px;
}
.card_2 {
  width: auto;
  height: 38%;
  border: 5px solid none;
  text-align: center;
  padding: 5px;
  border-radius: 62px 179px 73px 65px;
  margin-right: 5px;
}
.form_2 {
  background-color: lightblue;
  width: 100%;
  padding: 0;
  height: 30px;
  border: 5px solid #CCC;
  border-radius: 1em;
  outline: none;
}
.circle {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.hobi {
  font-size: 85%;
}
.degradado {
background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
background: linear-gradient(red, blue); /* Standard syntax */
}
.nom {
  font-style: italic;
  color: white;
  font-size: 25px;
}
