<dom-module id="cells-ernesto-dashboard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-ernesto-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.centered-container {
  margin-top: 40px;
  max-width: 1000px;
  margin: 40px auto; }

.tam {
  width: 80px;
  height: 80px; }

.item {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: white;
  background-size: cover;
  margin: auto;
  margin-left: 40px; }

.card_2 {
  width: auto;
  height: 38%;
  border: 5px solid none;
  text-align: center;
  padding: 5px;
  border-radius: 62px 179px 73px 65px;
  margin-right: 5px; }

.form_2 {
  background-color: lightblue;
  width: 100%;
  padding: 0;
  height: 30px;
  border: 5px solid #CCC;
  border-radius: 1em;
  outline: none; }

.circle {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000; }

.hobi {
  font-size: 85%; }

.degradado {
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(blue));
  background: linear-gradient(red, blue);
  /* Standard syntax */ }

.nom {
  font-style: italic;
  color: white;
  font-size: 25px; }

</style></template></dom-module>