<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-ernesto-dashboard-styles.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cells-ernesto-dashboard">
  <script src="cells-ernesto-dashboard.js"></script>
</dom-module>
